{% extends "main/layout.html" %}

{% load static %}

{% block title %}Aunex{% endblock %}

{% block body %}

<div class="container">

    <h1 class="display-4 text-center my-5">Media Assets</h1>

    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Product Images</h3>
        </div>
        <div class="col-12 col-md-6">
            <form method="GET" class="form-inline">
                {% csrf_token %}
                <div class="form-group ml-auto">
                    {% if search_media != '' %}
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search_media" value="{{ search_media }}">
                    {% else %}
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search_media">
                    {% endif %}
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit" onclick="pagePosition();">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% if search_media and not products %}
    <div class="row my-5">
        <div class="col">
            <h6 class="text-center mb-5">No matching products found for "{{ search_media }}".</h6>
        </div>
    </div>
    {% else %}
    <div class="row">
        {% for product in products %}
        {% if product.gallery.all or 'default' not in product.image.image.name %}
        <div class="col-12 col-md-4 col-lg-2">
            <h6>{{ product.name }}</h6>
            <a href="{{ product.image.image.url }}" target="_blank"><img src="{{ product.image.image.url }}" class="img-thumbnail"></a>
            {% for img in product.gallery.all %}
            <a href="{{ img.image.url }}" target="_blank">img{{ forloop.counter }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <h3 class="mt-5">Logos/Other</h3>
    <div class="row">
        {% for image in images %}
        {% if not image.gallery.all %}
        <div class="col-12 col-md-4 col-lg-2">
            <a href="{{ image.image.url }}" target="_blank"><img src="{{ image.image.url }}" class="img-thumbnail"></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h3 class="mt-5">Videos</h3>
    <div class="row">
        {% for video in videos %}
        <div class="col-12 col-md-4 col-lg-2">
            <a href="{{ video.file.url }}" target="_blank">{{ video.name }}</a>
            <div class="embed-responsive embed-responsive-16by9">
                <video width="160px" height="90px" controls class="embed-responsive-item">
                    <source src="{{ video.file.url }}" type="video/mp4">
                </video>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
