{% extends "main/layout.html" %}

{% load static %}

{% block title %}Aunex{% endblock %}

{% block body %}

<div class="container">

    <h1 class="display-4 text-center my-5">Order Summary</h1>

    <div class="row">

        <div class="col-12 col-lg-8">

            <h6 class="mb-5">
                <a href="{% url 'all_orders' %}">
                    <i class="fas fa-arrow-alt-circle-left"></i> Orders
                </a>
            </h6>

            <div class="row mb-5">

                <div class="col-4 py-0 px-1 font-weight-bold">Bill To:</div>
                <div class="col-8 py-0 px-1">{{ order.bill_to }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">Ship To:</div>
                <div class="col-8 py-0 px-1">{{ order.ship_to }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">Shipping:</div>
                <div class="col-8 py-0 px-1">{{ order.shipping }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">Terms:</div>
                <div class="col-8 py-0 px-1">{{ order.terms }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">Date:</div>
                <div class="col-8 py-0 px-1">{{ order.created_at|date }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">P.O.#:</div>
                <div class="col-8 py-0 px-1">{{ order.po_box }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">Rep:</div>
                <div class="col-8 py-0 px-1">{{ order.rep }}</div>

                <div class="col-4 py-0 px-1 font-weight-bold">Comments:</div>
                <div class="col-8 py-0 px-1">{{ order.comments }}</div>

            </div>

            {% for s in series %}
                {% for item in order.products.all %}
                    {% if item.series == s %}
                        <div class="row mt-3">
                            {% ifchanged s.name %}
                            <div class="col-6 col-lg-2 py-1 px-0">
                                <h6 class="text-danger text-truncate">{{ s.name }}</h6>
                            </div>
                            {% endifchanged %}
                            {% if forloop.first %}
                            <div class="col-6 col-lg-2 border-bottom border-dark p-1">Price</div>
                            <div class="col-6 col-lg-2 border-bottom border-dark p-1">Weight</div>
                            <div class="col-6 col-lg-2 border-bottom border-dark p-1">Quantity</div>
                            <div class="col-6 col-lg-2 border-bottom border-dark p-1">Total wt.</div>
                            <div class="col-6 col-lg-2 border-bottom border-dark p-1">Total</div>
                            {% endif %}
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-lg-2 border-bottom p-1 text-truncate">{{ item.product.name }}</div>
                            <div class="col-6 col-lg-2 border-bottom p-1">${{ item.product.price }}</div>
                            <div class="col-6 col-lg-2 border-bottom p-1">{{ item.product.weight }}</div>
                            <div class="col-6 col-lg-2 border-bottom p-1 font-weight-bold">{{ item.quantity }}</div>
                            <div class="col-6 col-lg-2 border-bottom p-1 font-weight-bold">{{ item.weight }}</div>
                            <div class="col-6 col-lg-2 border-bottom p-1 font-weight-bold">${{ item.total }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </div>

        <div class="col-12 col-lg-4">

            <div class="card p-2">

                <h6 class="text-center">ORDER BREAKDOWN</h6>

                <div class="row">

                    {% for s in series %}
                    <div class="col-7 py-0">{{ s.name }}</div>
                    <div class="col-5 text-right py-0">${{ s.total }}</div>
                    {% endfor %}

                    <div class="col-7 py-0">Subtotal</div>
                    <div class="col-5 text-right py-0">${{ order_total }}</div>
                
                </div>

                <hr>

                <h6 class="text-center">AUNEX</h6>

                <div class="row">

                    <div class="col-7 py-0">Weight:</div>
                    <div class="col-5 text-right py-0">{{ aunex_weight }}</div>

                    <div class="col-7 py-0">Subtotal:</div>
                    <div class="col-5 text-right py-0">${{ aunex_total }}</div>

                    <div class="col-7 py-0">Discount:</div>
                    <div class="col-5 text-right py-0">0%</div>

                    <div class="col-7 py-0">With Discount:</div>
                    <div class="col-5 text-right py-0">${{ aunex_total }}</div>
                
                </div>

                <h6 class="text-center">MUSWAY</h6>

                <div class="row">

                    <div class="col-7 py-0">Weight:</div>
                    <div class="col-5 text-right py-0">{{ musway_weight }}</div>

                    <div class="col-7 py-0">Subtotal:</div>
                    <div class="col-5 text-right py-0">${{ musway_total }}</div>

                    <div class="col-7 py-0">Discount:</div>
                    <div class="col-5 text-right py-0">0%</div>

                    <div class="col-7 py-0">With Discount:</div>
                    <div class="col-5 text-right py-0">${{ musway_total }}</div>

                </div>
                
                <hr>

                <div class="row">

                    <div class="col-7 py-0">Order Total:</div>
                    <div class="col-5 text-right py-0">${{ order_total }}</div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
