{% extends "main/layout.html" %}

{% load static %}

{% block title %}Aunex{% endblock %}

{% block body %}

<div class="container">

    <h1 class="display-4 text-center my-5">Orders</h1>

    <div class="row">

        <div class="col-12">
            {% if orders.all %}
            <ul>
                {% for order in orders %}
                    {% ifchanged order.created_at|date:'Y' %}
                        <h4>{{ order.created_at|date:'Y' }}</h4>
                    {% endifchanged %}
                    {% ifchanged order.created_at|date:'F' %}
                        <h6 class="ml-4">{{ order.created_at|date:'F' }}</h6>
                    {% endifchanged %}
                    <li class="ml-5">
                        <a href="{% url 'orderSummary' order.id %}">{{ order.user.username }}, {{ order.created_at }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <h6 class="text-center">No orders have been placed.</h6>
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}
